.keyboard {
  display: flex;
  background-color: #f1f3f6;
  padding: 1rem;
  border-radius: 6px;
}
.keyboard__left {
  // width: 500px;
  width: 340px;
  display: flex;
  flex-direction: column;
}
.keyboard__right {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 155px;
  background-color: #000;
  border-radius: 5px;
  margin-left: 16px;
  padding: 2px;
  &__controls {
  }
}
.keyboard__pads {
  padding: 2px;
  background-color: #000;
  border-radius: 5px;
  &__row {
    display: flex;
    justify-content: flex-start;
    padding: 2px;
  }
}
